/* HeroesComponent's private CSS styles */
.schools {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .schools li {
    display: flex;
  }
  
  .schools button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #7bcc1194;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .schools button:hover {
    color: #2c3a41;
    background-color: #6d2d2d;
    left: .1em;
  }
  
  .schools button:active {
    background-color: #b81a1a;
    color: #fafafa;
  }
  
  .schools button.selected {
    background-color: rgba(28, 4, 136, 0.973);
    color: white;
  }
  
  .schools button.selected:hover {
    background-color: #0729c0;
    color: white;
  }
  
  .schools button.selected:active {
    background-color: rgb(7, 161, 207);
    color: white;
  }
  
  .schools .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #9861cc;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .schools .name {
    align-self: center;
  }

  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: rgb(209, 130, 28);
    color:  #525252;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }

  button.add-button {
    position: absolute;
    background-color: rgb(209, 130, 28);
    color:  #525252;
    font-size: 1.1rem;
    
  }